flask
gunicorn
langchain
langchain-community
faiss-cpu
huggingface-hub
sentence-transformers
pypdf
torch --extra-index-url https://download.pytorch.org/whl/cpu
numpy # Explicitly added to prevent source build